.Footer p {
  margin-bottom: 0.6rem;
  font-size: 0.8em;
}
.Footer-container {
  margin-top: 3rem;
}
.Footer-container .col {
  padding-inline: 0.5rem;
}
.Footer-ultimo-link {
  margin-bottom: 0;
  margin-top: 3rem;
  font-size: 0.6em;
}

@media (max-width: 1200px) {
  .Footer-barra-option-lato {
    display: none;
  }
}
@media (min-width: 1200px) {
  .Footer-barra-option-sotto {
    display: none;
  }
}
