.offcanvas-bottom {
  position: fixed;
  height: 100% !important;
  top: 15% !important;
  left: unset !important;
  right: 0;
}
.offcanvas-backdrop {
  position: static;
}
.in-basso {
  position: fixed;
  bottom: 0;
  right: 0;
}
