.dropdown-item:active {
  background-color: white !important;
  color: black;
}

#dropZoneBtn {
  width: 50px;
  position: absolute;
  inset: 0;
  background-color: transparent;
  border: none;
  caret-color: transparent;
  cursor: pointer;
}

#dropZoneBtn:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dropdown-toggle {
  padding: 0;
  display: flex;
  justify-content: center;
}
